html, main, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: helvetica;
  background-color: #DBFDFF;
}
#body {
  width: 80%;
  height: 10vh;
  resize: none;
}

#peepContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#peepForm {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centered {
  text-align: center;
}

.peepBox {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.peepUser {
  font-size: 1.5em;
  color: #3f96e8;
  margin: 0;
}

.peepTimeCreated {
  font-size: 0.7em;
  color: #6b6769;
  font-style: italic;
}

.peepBody .peepLikes {
  font-size: 1em;
}
